<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Pivot View - Group by Fiscal Year</h2>
        <h3 class="oe_slogan">New group by fiscal year and fiscal quarter for date and datetime in pivot view</h3>
        <div class="oe_span12" style="font-size:15pt;">
            <h4><p>Features:</p></h4>
            <ul>
                <li>New group by fiscal year and fiscal quarter for date and datetime in pivot view</li>
                <li>Fiscal year is defined in Accounting Settings</li>
                <li>Compatible with Odoo 13.0 Community and Enterprise Editions</li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Samples</h2>
        <h3 class="oe_slogan">Invoice Analysis</h3>
        <div class="oe_span12">
            <img src="banner.png" width="100%%">
        </div>
    </div>
    <div class="oe_row">
        <h3 class="oe_slogan">Sales Analysis</h3>
        <div class="oe_span12">
            <img src="sales.png" width="100%%">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Configuration</h2>
        <h3 class="oe_slogan">Easy configuration of Fiscal Year</h3>
        <div class="oe_span4 text-justify">
            <p class="oe_mt32">
                Go to Accounting > Configuration > Settings.
            </p>
        </div>
        <div class="oe_span8">
            <img src="config1.png" width="100%%">
        </div>
    </div>
    <div class="oe_row">
        <div class="oe_span8">
            <img src="config2.png" width="100%%">
        </div>
        <div class="oe_span4 text-justify">
            <p class="oe_mt32">
                Set the company's fiscal year and apply. Note that this is not only for reporting!
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Compatibility</h2>
        <h3 class="oe_slogan">This module is compatible with Odoo 13.0 Community and Enterprise Editions</h3>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Support</h2>
        <h3 class="oe_slogan oe_mb32">Email: <a href="mailto:mac5_odoo@outlook.com">mac5_odoo@outlook.com</a></h3>
        <div class="oe_span12 text-center" style="font-size: 2px;">
            Keywords: Odoo Report Group by Fiscal Year, Odoo Report Group by Financial Year, Odoo Group by Fiscal Year Report, Odoo Group by Financial Year Report, Odoo Report Fiscal Year Group by, Odoo Report Financial Year Group by, Odoo Fiscal Year Group by Report, Odoo Financial Year Group by Report, Odoo Fiscal Year Report Group by, Odoo Financial Year Report Group by, Odoo Pivot Group by Fiscal Year, Odoo Pivot Group by Financial Year, Odoo Group by Fiscal Year Pivot, Odoo Group by Financial Year Pivot, Odoo Pivot Fiscal Year Group by, Odoo Pivot Financial Year Group by, Odoo Fiscal Year Group by Pivot, Odoo Financial Year Group by Pivot, Odoo Fiscal Year Pivot Group by, Odoo Financial Year Pivot Group by
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
